:root {
    /* Paleta de colores principal */

    --primary-color: #1173d4;
    --background-dark: #101922;
    --background-light: #f6f7f8;

    /*Buttons and inputs*/
    --buttons-color: #007BFF;
    --buttons-hover-color: #0056b3;
    --input-color: #1F2937;
    --input-placeholder-color: #CDC8C5;

    /*Font colors*/
    --font-color-light: #f6f7f8;
    --font-color-dark: #101922;
    --font-small: #555;
    --svg-search-color: #817979f7;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: var(--background-dark);
    flex-direction: column;
    line-height: 1.4;
    color: var(--font-color-light);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    color: var(--font-color-light);
}

/*NAVBAR*/

nav {
    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
    border-bottom: 1px solid var(--font-small);
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--font-color-light);
    font-weight: 500;
}

.nav-actions, .nav-form {
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 4px;
    padding: 0.25rem;
    position: relative;
}

.nav-actions > .nav-form > input {
    height: 2rem;
    border-radius: 4px;
    border-width: 1px;
    padding: 0 0 0 1.6rem;
    color: var(--font-color-light);
}

input::placeholder {
    color: var(--input-placeholder-color);
}

button {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    background-color: var(--buttons-color);
    color: var(--font-color-light);
    cursor: pointer;
}

.svg-icon-search {
    position: absolute;
    left: 0.7rem;
    width: 1.2rem;
    height: 1.2rem;
    stroke: var(--svg-search-color);
    pointer-events: none;
    z-index: 2;
}

.nav-buttons:hover {
    background-color: var(--buttons-hover-color);
}

/*ENCABEZADO*/

.Encabezado {
    position: relative;
    display: flex;;
    margin-top: 0.5rem;
}

.Encabezado-elementos {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: flex-start;
    position: absolute;
    top: 40%;
    left: 8.5%;
    max-width: 50vw;
}

.Encabezado-elementos > h2 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 2.5rem;
}

.Encabezado-elementos > p {
    font-size: 1.3rem;
    font-weight: 200;
}

.Encabezado-elementos > .actions-encabezado > form > input {
    height: 2rem;
    width: 19.5rem;
    border-radius: 4px;
    border-width: 1px;
    padding: 1.2rem 2.2rem;
    color: var(--font-color-light);
    background-color: var(--input-color);
    opacity: 80%;
}

.Encabezado-elementos > .actions-encabezado > form > button {
    padding: 0.8rem 1.2rem;
}

.Encabezado-elementos > .actions-encabezado > form > button:hover {
    background-color: var(--buttons-hover-color);
}

.image-container {
    width: 90%;
    height: 450px;
    margin: 1rem auto;
    border-radius: 8px;
    background-image: 
        linear-gradient(
            to top,
            rgba(0, 0, 0, 0.5) 5%,
            transparent 50%
        ),
        url('./imagen-encabezado.png');
    background-size: cover;
    background-position: center;
}

.image-container img {
    display: none;
}

.actions-encabezado > form {
    position: absolute;
}

.actions-encabezado > form > .svg-icon-search {
    top: 24%;
    left: 2.5%;
}

.Empleos-Destacados > h2 {
    margin: 2rem 0 0 3.5rem;

}

.Article-Empleos-Destacados{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 3.5rem;
    padding-bottom: 50vh;
}

/*FOOTER*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid var(--font-small);
    color: var(--font-small);
}

footer > .footer-links > a {
    text-decoration: none;
    color: var(--font-small);
    padding: 0 0.5rem;
}